<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Aricare</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.aricent.controllers.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.aricent.controllers.Signup</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookAppointment</servlet-name>
    <servlet-class>com.aricent.controllers.BookAppointment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddDoctor</servlet-name>
    <servlet-class>com.aricent.controllers.AddDoctor</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePillDetails</servlet-name>
    <servlet-class>com.aricent.controllers.UpdatePillDetails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteDoctor</servlet-name>
    <servlet-class>com.aricent.controllers.DeleteDoctor</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNews</servlet-name>
    <servlet-class>com.aricent.controllers.AddNews</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.aricent.controllers.Admin</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DoctorsBySpecialization</servlet-name>
    <servlet-class>com.aricent.controllers.DoctorsBySpecialization</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplayDoctor</servlet-name>
    <servlet-class>com.aricent.controllers.DisplayDoctor</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplayNews</servlet-name>
    <servlet-class>com.aricent.controllers.DisplayNews</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoctorDetails</servlet-name>
    <servlet-class>com.aricent.controllers.DoctorDetails</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>CancelAppointment</servlet-name>
    <servlet-class>com.aricent.controllers.CancelAppointment</servlet-class>
  </servlet>
  
</web-app>